@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
  
  body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y:visible;
    border: 1px solid black;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 95%;
    height: 100%;
    background: rgb(245, 252, 255);
    margin: 5px;
    /* border: 1px solid black; */
    background-color: #eee;
    display: flex;
    flex-direction: column;
  }

  .header-wrapper {
      display: flex;
      position: fixed;
      /* background-color: orange; */
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease-in;
  }

  .logo-wrapper {
      position: relative;
      margin: 5px;
  }

  .logo-wrapper img {
    right: 0;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
  }


  .nav-wrapper {
      margin: 5px;
      /* background-color: #fff; */
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .nav-wrapper ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

  .nav-wrapper a {
	color: black;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in;
}

.header-wrapper ul li {
    text-transform: uppercase;
}

.main-wrapper {
    margin-top: 100px;
    /* background-color: red; */
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
.main-wrapper .title {
    font-weight: lighter;
    position: relative;
    color: black;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 10px 0;
    min-width: 325px;
}

.main-wrapper .title::before {
    content: "ART | BY SANDER HEIEREN";
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10px;
    left: 50%;
    bottom: 75%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.main-wrapper img {
    width: 100%;
    height: auto;
    min-width: 325px;
    max-width: 600px;
    padding: 10px;
}

  .footer-wrapper {
      background-color: blue;
  }

  @media (max-width: 528px) {
      /* .nav-wrapper {
          display: none;
      } */
  }