@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
}

h3 {
	color: #000;
	font-weight: normal;
	font-size: 30px;
    border-bottom: 1px solid #ddd;
}
a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

body {
    /* font-family: "Cinzel", sans-serif; */
    font-family: 'EB Garamond', serif;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    /* border: 1px solid black; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 10px; */
  }
  .container {
    width: 100%;
    min-height: 100%;
    background: rgb(245, 252, 255);
    margin: 0 5px;
    /* border: 1px solid black; */
    background-color: #eee;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    margin-bottom: -50px;
    overflow: hidden;
  }

  .header-wrapper {
      display: flex;
      position: fixed;
      background-color: gray;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease-in;
      /* border-bottom: 1px solid black; */
      max-width: 100%;
      z-index: 100;
      height: 50px;
  }

  .logo-wrapper {
      position: relative;
      margin: 5px;
      left: 10px;
  }


  .logo-wrapper img {
    right: 0;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
  }


  .nav-wrapper {
      background-color: #fff;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .nav-wrapper ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
    /* margin-right: 10%; */
}

  .nav-wrapper a {
	color: black;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in;
}

.header-wrapper ul li {
    text-transform: uppercase;
}

.main-wrapper {
    margin-top: 100px;
    /* background-color: red; */
    min-height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    min-width: 350px;
  }
  
.main-wrapper .title {
    font-weight: lighter;
    position: relative;
    color: black;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 20px 0;
    min-width: 325px;
}

.main-wrapper .title::before {
    content: "ART | BY SANDER HEIEREN";
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 10px;
    left: 50%;
    bottom: 75%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.main-wrapper img {
    width: 100%;
    height: auto;
    min-width: 325px;
    max-width: 600px;
    padding: 10px;
}

.main-wrapper figure {
    position: relative;
}

.main-wrapper figure figcaption {
    position: absolute;
    color: gray;
    left: 20px;
    font-size: 10px;
    bottom: -10px;
    font-family: inherit;
}


.main-wrapper .about article p {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #000;
    justify-content: stretch;
    white-space: pre-line;
    padding: 10px 20px;
    letter-spacing: 2px;
    line-height: 25px;
    max-width: 728px;
}

/* IMAGE CAROUSEL */

/* FOOTER */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 65px;
    background-color: #fff;
    padding-bottom: 12px;
  }

.footer-wrapper .contact {
    margin-top: 24px;
}


.copy {
    max-width: 320px;
    white-space: nowrap;
    font-size: 12px;
    
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    max-width: 320px;
    color: black;
    padding-bottom: 10px;
} 

.social-media i {
    margin: 0px 10px;
    padding: 10px 0px 5px 0px;
    font-size: 20px;

}



  @media (max-width: 500px) {
       .nav-wrapper {
          display: none;
      } 
  }